{{ define "main" }}
<script type="text/javascript">

</script>
  <section class="section">
    <article class="container">
    <h1 class="title is-1 has-text-danger-dark">
        {{- .Title -}}
      </h1>

    <div class="is-medium">
    	<div id="loading" style="display:none;">Loading...</div>
    	<div id="firebaseui-container"></div>
	     {{- .Content -}}
	     <div id="member-area" class="content" style="display:none;">
	     	Halaman ini masih dalam pengembangan, <a href="https://trakteer.id/inacode" class="" target="_blank">mohon support nya</a>

	     	<p><button class="button is-black" id="logout-link">logout</button></p>
	     </div>
    </div>

  </article>
  </section>

{{ end }}