
<footer class="footer has-background-light"> 
  <div class="container">
  <div class="columns">

    <div class="column is-half">
      
      {{ if .Site.Menus.footer }}
      <aside class="menu">
        <p class="menu-label">Tautan</p>
        <ul class="menu-list">
         {{ range .Site.Menus.footer }}
          <li><a href="{{ .URL }}" title="{{ .Name }} page">{{ .Name }}</a></li>
        {{ end }}
        </ul>
      </aside>
       {{ end }}
      
    </a>
    </div>

    <div class="column is-half content">

      <p><a href="https://trakteer.id/inacode" class="has-text-black is-size-5" target="_blank">Suka dengan website ini ?<br />traktir kami kopi &#9749; ya biar semangat &#128591; &#128525;</a></p>

      <p>{{ partial "social-follow.html" . }}</p>

      <p class="is-size-7">  Our mission is to help Indonesian to learn computer science, start coding and programming in easy and fun way through tutorial videos, online courses, and articles. All resources in Bahasa Indonesia. We accept any donation, use below link for international donation</p>

    <a class="has-text-link-light " href="https://www.buymeacoffee.com/adisetiawan" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/default-black.png" alt="Buy Me A Coffee" style="height: 35px !important;width: 150px !important;" ></a>
    </div>



  
  </div>
  <div class="content has-text-centered">
    <hr class="has-background-dark has-text-dark" />
    <p class="is-size-6"><a class="has-text-dark is-size-6" href="{{ .Site.BaseURL }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a></p>
  </div>
  </div>
</footer>
