{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  
  <section class="section">
    <article class="container">
      
      <h1 class="title is-2 has-text-danger">{{- .Title -}}</h1>

    <div class="columns">
      <div class="column content is-two-thirds is-medium">
        {{ if .Params.featured_image }}
        <figure class="image">
          <img src="{{ .Params.featured_image }}" alt="image from {{ .Title }}">
        </figure>
        {{ end }}

        <nav class="level">
          <div class="level-item">
           <div class="tags are-medium">
            {{ range .Params.tags }}
               <a class="tag is-dark" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" >{{- . -}}</a>
            {{ end }}
            </div>
          </div>
          <div class="level-item">
            <span class="is-size-6">&#128467;&nbsp;&nbsp; <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{- .Date.Format "2 January, 2006" -}}
            </time></span>
          </div>
        </nav>

        
        {{- .Content -}}

        

      </div>

      <div class="column content">
        

        {{- if .Params.toc -}}
        <article class="message is-light">
          <div class="message-header">
          <p>Daftar Isi</p>
          </div>
          <div class="message-body">
            <p>Durasi baca {{ .ReadingTime}} menit, {{ .WordCount}} kata</p>
            {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
            
           
            {{ end }}

            {{ .TableOfContents }}
          </div>
        </article>
        {{ end }}

        <figure>
        <a href="/kelas-online-blockchain-ethereum/"><img class="image" src="/img/inacode-instagram-kelas-blockchaiin-small.jpg"></a>
        </figure>

        {{ $related := .Site.RegularPages.Related . | first 15 }}
        {{ with $related }}
        <aside class="menu">
            <p class="menu-label">{{ i18n "related" }}</p>
            <ul class="menu-list">
             {{ range . }}
               <li>
                  <a href="{{ .RelPermalink }}">
                    {{- .Title -}}
                  </a>
                </li>
              {{ end }}
            </ul>
        </aside>
        {{ end }}

        

      </div>

    </div>

  </article>
  </section>
{{ end }}
